@font-face {
  font-family: 'Cherry Cream Soda';
  font-style: normal;
  font-weight: 400;
  src: local('Cherry Cream Soda'), local('CherryCreamSoda'), url(http://fonts.gstatic.com/s/cherrycreamsoda/v6/OrD-AUnFcZeeKa6F_c0_WxqwWSV7TiEqKBI7h3gm4xc.woff) format('woff');
}
